@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.titulo {
    display: flex;
    justify-content: center;
}
#boletim {
    background-color: red;
    color: white;
    padding: 10px;
    width: 155px;
    border-radius: 10px;
    margin-bottom: 0;
    font-size: 32px; 
}
h1 {
    font-size: 64px;
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-size: 22px;
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.p {
    color: grey;
}
.dados {
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#notificados {
    background-color: grey;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
}
#suspeitos {
    background-color: orange;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
}
#confirmados {
    background-color: red;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
}
#negativados {
    background-color: rgb(52, 172, 72);
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
}
#altas {
    background-color: rgb(224, 152, 221);
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    flex-direction: row;
}
#curados {
    background-color: rgb(100, 171, 238);
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    align-items: flex-start;

}
#internacoes {
    background-color: rgb(156, 144, 144);
    display: flex;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    width: 800px;
    justify-content: space-around;
    align-items: flex-start;
}
body {
    background-color: #D3D3D3;
}